<!-- ヘッダー -->
<header class="bg-blue-600 text-white sticky top-0 z-50">
<!--<header class="text-white sticky top-0 z-50"　style="background-image: url('{{ site.baseurl }}/images/uploads/snowshoes.jpg'); background-size: cover; background-position: center; ">--> 
  <div class="container mx-auto px-4 py-6 flex flex-col md:flex-row items-center justify-between">
    <div class="flex items-center justify-between w-full md:w-auto">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo.png" alt="自然体験村 ロゴ" class="h-20 mr-2 rounded">
      </a>
      <h1 class="text-2xl md:text-3xl font-bold">
        <a href="{{ site.baseurl }}/">
          <span class="text-base md:text-lg">一般社団法人</span> 
          <span class="block lg:inline"><span class="text-2xl md:text-3xl lg:ml-2">自然体験村</span></span>
        </a>
      </h1>
      <button id="mobile-menu-button" class="md:hidden text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    
      <nav class="hidden w-full md:block md:w-auto md:mt-0 mt-4" id="mobile-menu">
      <ul class="flex flex-col md:flex-row md:space-x-4 md:space-y-0 space-y-2">
        <li><a href="{{ site.baseurl }}/sections/about" class="hover:text-blue-200 block py-2 md:py-0">体験村について</a></li>
        <li><a href="{{ site.baseurl }}/sections/programs" class="hover:text-blue-200 block py-2 md:py-0">キャンプ一覧</a></li>
<!--ｺﾒﾝﾄｱｳﾄ
        <li><a href="{{ site.baseurl }}/sections/staff" class="hover:text-blue-200 block py-2 md:py-0">スタッフ紹介</a></li>
ｺﾒﾝﾄｱｳﾄ-->
        <li><a href="{{ site.baseurl }}/sections/testimonials" class="hover:text-blue-200 block py-2 md:py-0">参加者の声</a></li>
        <li><a href="{{ site.baseurl }}/sections/faq" class="hover:text-blue-200 block py-2 md:py-0">FAQ</a></li>
        <li><a href="{{ site.baseurl }}/#contact" class="hover:text-blue-200 block py-2 md:py-0">お問い合わせ</a></li>
      </ul>
    </nav>

  </div>
</header>
